/* Author: Giorgi Arabidze. */



body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #42275a 0%, #734b6d 100%);
    font-size: 20px;
}

.title{
    color: white;
}


.button{
    background-color: #031534;
    padding: 14px 28px;
    font-size: 14px;
    color:white;
}


.modal {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    top: 25%;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #031534;
    color: white;
}

.modal-body {
    position: relative;
    padding: 20px;
    height: 200px;
    overflow-y: auto;
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}