body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #87445d 0%, #006a87 100%);
    font-size: 10px;
}
.navbar-container {
    overflow: hidden;
    background-color: #4e45aa;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.navbar-container .navbar-right {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.navbar-container img:hover {
    cursor: pointer;
}

.navbar-container a:hover {
    background-color: #ddd;
    color: black;
}

.blogs-categories-sidebar {
    width: 10%;
    height: 100%;
    float: left;
    background-color: #4e45aa;
    position: fixed;
}

.blogs-list-container {
    width: 90%;
    float: right;
}

.navbar-label {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.blogs-categories-label {
    color: #f2f2f2;
    font-size: 13px;
    text-align: center;
    margin-top: 50px;
}

.sidebar-category {
    padding: 10px 0 0 30%;
    font-size: 13px;
}
.sidebar-category a {
    color: #dddddd;
}

.blogs-list-container {
    font-size: 17px;
}

.blogs-title {
    color: #dddddd;
    margin-left: 20%;
    font-size: 25px;
}

.blogs-list {
    margin-left: 15%;
    font-size: 17px;
}

.blog-container {
    margin-bottom: 20px;
}

.blog-title {
    color: #dddddd;
}

.blog-title-and-category {
    margin-bottom: 20px;
}

.right-info {
    float: right;
}

#blog-date-and-author {
    margin-right: 6%;
}
.blog-category {
    margin-right: 12%;
}

.blog-body {
    margin-bottom: 40px;
    margin-left: 1%;
}

.blog-date-author .blog-author-username {
    color: #dddddd;
    margin-left: 3px;
}

.blog-date-author .blog-author-avatar {
    height: 22px;
    cursor: pointer;
    margin-left: 10px;
}
.blog-date-author a {
    text-decoration: none;
}

.blog-created-at {
    color: #9e9999;
}

.blog-title-and-category a {
    text-decoration: none;
}