html, body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #42275a 0%, #734b6d 100%);
    font-size: 10px;
}

body {
    display: grid;
    grid-template-rows: 9%;
    place-items: center;
}

#register-container {
    display: grid;
    min-width: 550px;
    max-width: 600px;
    height: 455px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

#register-title {
    text-align: center;
    font-weight: bold;
    font-size: 3.7rem;
    color: #4e45aa;
    padding-top: 20px;
}
#register-error {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    color: #e0b219;
    padding-top: 5px;
}

#to-login-btn-container {
    text-align: center;
    font-size: 1.1rem;
}

.to-login-btn {
    color: #3e2fbb;
}

#register-container #nickname-container .controls {
    padding: 35px 0 21px;
    text-align: center;
}

#register-container #password-container .controls {
    padding: 0 0 21px;
    text-align: center;
}

#register-container #password-repeat-container .controls {
    padding-bottom: 40px;
    text-align: center;
}


#register-container #nickname-container .nickname-input {
    outline: none;
    padding: 8px 8px 8px 8px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 2.1rem;
}

#register-container #password-container .password-input {
    outline: none;
    padding: 8px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 2.1rem;
}

#register-container #password-repeat-container .password-repeat-input {
    outline: none;
    padding: 8px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 2.1rem;
}

#register-submit-container {
    text-align: center;
}
.register-submit-btn {
    background-color: #3e2fbb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 30%;
}

#avatar-container {
    text-align: center;
}

#avatar-container img {
    min-height: 32px;
    margin: -12px 12px 10px 10px;

}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    width: 39px;
}

#to-login-btn-container {
    text-align: center;
    font-size: 1.1rem;
    padding-top: 10px;
}

.to-login-btn {
    color: #3e2fbb;
}
.navbar-container {
    overflow: hidden;
    background-color: #4e45aa;
    margin-right: 82%;
    border-radius: 7px;
}

.navbar-container a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.navbar-container a:hover {
    background-color: #ddd;
    color: black;
}

