html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #87445d 0%, #006a87 100%);
}

div.navigation-bar{
    background: #4e45aa;
    color: #f1f1f1;
}
img{
    width: 70px;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

.created-at-and-category{
    float: right;
    display: inline-block;
}

a.blogs{
    color: crimson;
    text-decoration: none;
    font-size: 30px;
}

div.blog-buttons{
    float: right;
    left:100px;
}

div.navbar-buttons{
    float: right;
    left: 100px;
}

a.button:link, a.button:visited {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

a.button:hover, a.button:active {
    background-color: #ddd;
    color: black;
}

button.add-buttons{
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border: none;
}

button.add-blog-button{
    display: inline-block;
    float: right;
    font-size: 17px;
    background-color: #3e2fbb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-category-button button{
    font-size: 17px;
    margin-top: 10px;
    background-color: #3e2fbb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

button.add-buttons:hover, button.add-buttons:active{
    background-color: #031534;
}

form.delete-blog{
    display: inline-block;
    float: right;
}

#delete-blog-button {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#delete-blog-button:hover {
    border: none;
    background:red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
    color: white;
}

.tab button.active {
    background-color: #ccc;
    color: white;
}

.tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #031534;
    width: 50%;
    box-shadow: 0 4px 8px 0 black,0 6px 20px 0 black;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #031534;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    height: 35%;
}

input.BlogText{
    height:200px;
    width:100vh;
    font-size:11pt;
}

#modal-text, .blog-category-container, .controls input {
    margin-bottom: 12px;
    margin-top: 6px;
}

#category-name-container .controls {
    text-align: center;
}

.select-category-label {
    font-size: 18px;
    color: #3e2fbb;
    margin-bottom: 15px;
    margin-top: 45px;
}
