h1 {
    color: white;
    text-align: center;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #006a87 0%, #87445d 100%);
    font-size: 10px;
}

#blog_body {
    margin-left: 20px;
    font-family: "Roboto Light";
    font-size: 40px;
}

#blog_author {
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
}

#date_created {
    font-size: 30px;
    margin-left: 20px;
}

#blog_info {
    margin-top: 50px;
    margin-left: 20px;
}

#add_comment {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 20px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

#comment {
    margin-top: 20px;
}

#comment_avatar {
    cursor: pointer;
    margin-right: 30px;
}

#comment_info {
    font-size: 20px;
}

#comment_body {
    font-size: 25px;
    font-family: "Century Schoolbook";
}

.vl {
    border-left: 3px solid black;
    height: auto;
}

#comment_calendar {
   margin-left: 10px;
}

#link_to_home {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
}

#save_blog {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}

.navbar-style {
    overflow: hidden;
    background-color: #4e45aa;
    border-radius: 7px;
}

.navbar-style a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.navbar-style b{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.navbar-style a:hover {
    background-color: #ddd;
    color: black;
}

.button-style {
    overflow: hidden;
    background-color: #4e45aa;
    border-radius: 7px;
}

.button-style a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
    font-size: 17px;
}

.button-style a:hover {
    background-color: #ddd;
    color: black;
}

#submit_comment {
    background-color: #4e45aa;
    margin-right: 72%;
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

#submit_save {
    background-color: #4e45aa;
    margin-left: 5%;
    float: right;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}